[submodule "protected/extensions/yii2-debug"]
	path = protected/extensions/yii2-debug
	url = https://github.com/zhuravljov/yii2-debug.git
[submodule "protected/extensions/yii-debug-toolbar"]
	path = protected/extensions/yii-debug-toolbar
	url = https://github.com/malyshev/yii-debug-toolbar.git
